.maps-link {
    margin: 0 auto;
    width: 150px;
    padding: 20px 0;
    
}
img { 
    width: 150px; 
    position: fixed;
}
  
  .details {
    width: 50%;
    margin: 0 auto;
    font-family: "Open Sans";
    margin-top: 200px;
    text-align: center;
  }